<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stocker: Portfolio</title>
  </head>

  <body>
    <p><a href="{% url 'stockerapp:index' %}">Home</a></p>
    <h1>Portfolio: {{ portfolio.name }}</h1>
    {% if cur_stocks %}
    <table>
      <tr>
        <th></th>
        <th>Ticker</th>
        <th>Name</th>
        <th>Amount</th>
      </tr>
      {% for stock_info in cur_stocks %}
      <tr>
        <td><img src="{{ stock_info.logo_url }}" width="32" /></td>
        <td>{{ stock_info.ticker }}</td>
        <td>{{ stock_info.company_name }}</td>
        <td>{{ stock_info.amount }}</td>
        <td>{{ stock_info.cur_price }}</td>
        <td><b>{{ stock_info.cur_price.all }}</b></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    empty portfolio
    {% endif %}
    <h1>New order</h1>
    <form action="{% url 'stockerapp:new_order' portfolio.id %}" method="post">
      {% csrf_token %}
      <label for="ticker">Ticker:</label>
      {% if stock_list %}
      <select id="ticker" name="ticker">
        {% for stock in stock_list %}
          <option value="{{ stock.ticker }}">{{ stock.ticker }}</option>
        {% endfor %}
      </select> 
      <br />
      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount" value="0" />
      <br />
      <label for="unit_price">Unit price:</label>
      <input type="text" id="unit_price" name="unit_price" value="0.0" />
      <b>CURRENCY</b>
      <br />
      <label for="fee">Fee:</label>
      <input type="text" id="fee" name="fee" value="0.0" />
      <b>CURRENCY</b>
      <br />
      <label for="datetime">Date and time:</label>
      <input type="text" id="datetime" name="datetime" value="" />
      (format: dd.mm.yyyy HH:MM:SS)
      <br />
      {% else %}
       <b>NO COMPANIES!</b> (add companies first)
      {% endif %}
      <input type="submit" value="Add">
    </form>
    <h1>Order history</h1>
    {% if order_list %}
      <table>
        <tr>
          <th>Date and time</th>
          <th>Logo</th>
          <th>Ticker</th>
          <th>Company</th>
          <th>Amount</th>
          <th>Unit price</th>
          <th>Fee</th>
        </tr>
        {% for order in order_list %}
          <tr>
            <td>{{ order.date }}</td>
            <td><img src="{{ order.stock.logo_url }}" width="32" /></td>
            <td>{{ order.stock.ticker }}</td>
            <td>{{ order.stock.company_name }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.unit_price }}</td>
            <td>{{ order.fee }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
    <p>No orders</p>
    {% endif %}
  </body>
</html> 
